# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
**/*.log
**/*.tmp

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# OS-spezifisch
.DS_Store
Thumbs.db

# Sonstiges
.gradle/
build/
bin/