# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

**/logs/
**/*.log
**/*.tmp

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Kotlin/Java
*.class
*.jar
*.war
*.ear

# OS-spezifisch
.DS_Store
Thumbs.db

# Sonstiges
bin/
/docs/internal/
